In [1]:
import numpy as np
import pandas as pd

In [2]:
datas = pd.read_csv(r".\car performance-dataset.csv")

In [3]:
datas.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [4]:
datas.isnull().any()

mpg             False
cylinders       False
displacement    False
horsepower      False
weight          False
acceleration    False
model year      False
origin          False
car name        False
dtype: bool

In [5]:
x = datas.iloc[:,1:8].values

In [6]:
y = datas.iloc[:,0].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [8]:
from sklearn.preprocessing import StandardScaler
sd = StandardScaler()
x_train = sd.fit_transform(x_train)
x_test = sd.fit_transform(x_test)

In [9]:
x_train

array([[ 1.49526939,  1.22961301,  1.24359144, ..., -0.79520768,
        -1.13752513, -0.73301171],
       [-0.85285735, -0.92367663, -1.16092059, ...,  1.24411524,
        -1.41177304,  0.5068698 ],
       [-0.85285735, -0.92367663, -0.68001818, ...,  0.05760009,
         1.05645814,  0.5068698 ],
       ...,
       [-0.85285735, -1.206235  , -1.45480539, ...,  1.42950823,
        -0.86327722,  0.5068698 ],
       [ 0.32120602,  0.56706235, -0.09224857, ..., -0.2390287 ,
        -1.41177304, -0.73301171],
       [-0.85285735, -0.99188037, -0.86703579, ...,  0.31715028,
        -0.31478141,  0.5068698 ]])

In [10]:
from sklearn.ensemble import RandomForestRegressor
d = RandomForestRegressor(n_estimators=30,random_state=0)
d.fit(x_train,y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=30, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [11]:
y_pred = d.predict(x_test)
y_pred

array([14.41666667, 24.24666667, 14.2       , 20.46      , 18.46666667,
       30.21666667, 34.63333333, 21.02      , 16.33666667, 26.03      ,
       36.60333333, 36.27      , 19.65      , 27.32333333, 16.54      ,
       32.81      , 28.39333333, 27.44333333, 17.22      , 35.64333333,
       16.52333333, 23.57333333, 23.09666667, 20.7       , 33.73666667,
       26.98333333, 33.79666667, 30.12666667, 31.93666667, 16.68      ,
       20.31666667, 32.96333333, 19.85      , 34.08333333, 20.82      ,
       24.95      , 19.67      , 17.29      , 34.74      , 12.71666667,
       13.66666667, 15.3       , 28.31      , 32.73333333, 28.83666667,
       22.68333333, 20.43      , 16.63333333, 23.22333333, 29.88333333,
       34.21666667, 26.46666667, 17.66666667, 27.78333333, 16.19      ,
       13.08333333, 18.90666667, 26.95333333, 31.88333333, 15.84666667,
       20.81      , 25.98      , 19.92666667, 21.6       , 13.56666667,
       15.38333333, 14.13333333, 18.84      , 24.75      , 14.13333333,
       34.87666667, 13.25      , 23.        , 18.81      , 23.8       ,
       31.94      , 28.21      , 31.23666667, 31.94      , 14.41666667])

In [12]:
from sklearn.metrics import r2_score
accuracy = r2_score(y_test,y_pred)
accuracy

0.8895183205874634

In [13]:
#Save The model
import pickle
pickle.dump(d,open('regression.pkl','wb'))